<h1>Sign-in</h1>
<% form_tag url: login_path, method: :get do %>
  <%label_tag :email, "Name"%>
  <%text_field_tag :name %>
  <%label_tag :email, "Email"%>
  <%text_field_tag :email %>
  <%label_tag :email, "Password"%>
  <%password_field_tag :password %>
  <%label_tag :email, "Confirm Password"%>
  <%password_field_tag :password_confirmation %>
<% end %>