<form action="/login" method="post">
  <div>
    <input type="submit" value="Login"/>
  </div>
</form>

<form action="/about" method="post">
  <div>
    <input type="submit" value="About Page"/>
  </div>
</form>

<form action="/new" method="post">
  <div>
    <input type="submit" value="New User"/>
  </div>
</form>