<h3>Welcome! Please login....</h3>

<label>Username
  <input name="username" type="text" placeholder="username"/>
</label>

<label>Password
  <input name="password" type="password" placeholder="******"/>
</label>

<button>Sign in</button>