<h1>Profile for: </h1>

<%= @current_user.name %>
<%= @current_user.email %>
<%= link_to "Show Quiz History", quiz_history_user_path(@current_user.id) %>
<%= link_to "Responses Show (Temp)", responses_path %>

<%link_to "Home Page", root_path %>